.add-food-offer-form {
    width: 35%;
    margin: 100px auto;
}

.input-jedlo .logout-text {
    margin-bottom: 3%;
    width: 70%;
    background-color: transparent;
    border-color: white;
    border-radius: 20px;
    color: white;
}

.label-food .label-price {
    width: 100%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 15%;
    color: white;
}

#submit-button {
    background-color: blue;
    margin-bottom: 15%;
    width: 50%;
    margin-left: 25%;
}