#nadpis {
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 80px;
}

.jedlo-element {
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    border: 2px solid;
    padding: 5px;
    color: white;
    text-align: center;
}

.nadpis-druhu-jedla {
    font-size: 30px;
    border-bottom: 5px solid;
    margin-top: 5%;
    text-align: center;
    color: white;
}

.jedlo-element:hover {
    background-color: green;
    border: 2px solid;
    animation-duration: 1s;
    animation-name: animacia-zelena-farba;
}

@keyframes animacia-zelena-farba {
    from {background-color: transparent;}
    to {background-color: greenyellow;}
}
@media screen and (max-width: 575px) {
    .jedla {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.add-button a {
    margin: 3% 30% 5%;
    width: 40%;
    text-align: center;
}
