.main-title {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
}

.menu-container {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: white;
}

.menu {
    margin-bottom: 10%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5%;
}

.menu-title {
    border-bottom: 1px solid white;
}

.menu-soap-label, .menu-main-food-label {
    border-bottom: 1px solid white;
}

.menu-soap, .menu-main-food {
    margin-bottom: 10px;
}

#menu-edit-btn, #menu-delete-btn {
    margin-top: 10px;
}

.menu-add-btn, .menu-day-label {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu-day-label {
    color: white;
    text-align: center;
}

.menu-day-select {
    margin-bottom: 10px;
    width: 100px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 2px 2px;
}

.menu-day-select option {
    color: black;
}

@media screen and (max-width: 500px) {
    .menu-container {
        width: 100%;
    }
}