.login-title {
    text-align: center;
    color: white;
    font-size: 35px;
}

.login-form {
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
}

.login-form-login-label,
.login-form-password-label {
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75%;
    margin: 3% 0;
}

.login-form-login-input,
.login-form-password-input {
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 0 5px;
}

.login-form-buttons {
    display: grid;
    grid-template-columns: 40% 40%;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: space-evenly;
    margin: 15px 0;
}

@media screen and (max-width: 425px) {
    .login-form {
        width: 100%;
    }
}