.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    margin: 30px 0;
    position: relative;
}

.container-login h1, .container-login label {
    color: white;
}

.container-login h1 {
    font-size: 50px;
    text-align: center;
}

.container-login form {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 100px;
}

.form-item {
    position: absolute;
    width: 75%;
    height: 75px;
    margin: 10px 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.container-login input {
    position: absolute;
    background: transparent;
    border: 3px solid;
    border-color: white;
    border-radius: 20px;
    width: 100%;
    height: 35px;
    color: white;
}

.option {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30px;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0;
    position: absolute;
}

.option button {
    font-size: 18px;
    width: 100%;
    height: 30px;
    border-color: white;
    border-radius: 20px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}

#login-button {
    background-color: dodgerblue;
}

#password-button {
    background-color: forestgreen;
}

.container-login label {
    font-size: 20px;
    text-transform: capitalize;
}

#password-form-item {
    top: 100px;
}

#options-button {
    top: 200px;
}

#validation-error-text {
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .container-login {
        background-attachment: fixed;
    }

    .option button {
        width: 100%;
    }

    .container-login h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 448px) {
    .container-login form {
        top: 125px;
    }
}